.board{
  width: fit-content;
  max-width: 450px;
  position: relative;
}

.gameOver {
  position: absolute;
  bottom: 25px;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 450px;
  height: 200px;
}

.newGame {
  outline: none;
  border: none;
  background: none;
}
.newGame:hover {
  cursor: pointer;
}

.playerScore {
  max-width: 225px;
  width: 45vw; 
}

.grid {
  width: fit-content;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}

.tile {
  max-width: 150px;
  max-height: 150px;
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}